<div class="col-md-6 offset-md-3">
<h3 class="text-center">Resgitro de Clientes</h3>
<form (ngSubmit)="onSubmit()">
  <form (ngSubmit)= "onSubmit()" #clienteForm = "ngForm">
    <div class="form-group">
      <label>Nombre : </label>
      <input type = "text"
      class="form-control"
      id = "nombres"
      [(ngModel)] = "cliente.nombres"
      name = "nombres"
      required
      minlength="4"
      maxlength="10"
      placeholder="Digite su nombre "
      #nombres = "ngModel"
      >
      <div class="alert alert-danger" *ngIf= "nombres.invalid && (nombres.dirty || nombres.touched)">
        <div *ngIf = "nombres.errors?.['required']">
          Digite su nombre por favor
        </div>
        <div *ngIf = "nombres.errors?.['minlength']">
          El nombre tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf = "nombres.errors?.['maxlength']">
          El nombre tiene que tener como maximo 10 carters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Apellido Paterno : </label>
      <input type = "text"
      class="form-control"
      id = "aPaterno"
      [(ngModel)] = "cliente.aPaterno"
      name = "aPaterno"
      required
      minlength="4"
      maxlength="10"
      placeholder="Digite su apellido Paterno "
      #aPaterno = "ngModel"
      >
      <div class="alert alert-danger" *ngIf= "aPaterno.invalid && (aPaterno.dirty || aPaterno.touched)">
        <div *ngIf = "aPaterno.errors?.['required']">
          Digite su apellido por favor
        </div>
        
          <div *ngIf = "aPaterno.errors?.['minlength']">
          El apellido tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf = "aPaterno.errors?.['minlength']">
          El apellido tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

    
    <div class="form-group">
      <label>Apellido Materno : </label>
      <input type = "text"
      class="form-control"
      id = "aMaterno"
      [(ngModel)] = "cliente.aMaterno"
      name = "aMaterno"
      required
      minlength="4"
      maxlength="10"
      placeholder="Digite su apellido Materno "
      #aMaterno = "ngModel"
      >
      <div class="alert alert-danger" *ngIf= "aMaterno.invalid && (aMaterno.dirty || aMaterno.touched)">
        <div *ngIf = "aMaterno.errors?.['required']">
          Digite su apellido Materno por favor
        </div>
        
          <div *ngIf = "aMaterno.errors?.['minlength']">
          El apellido tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf = "aMaterno.errors?.['minlength']">
          El apellido tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

    
    <div class="form-group">
      <label>Fecha de Nacimiento : </label>
      <input type = "text"
      class="form-control"
      id = "fechaNacimiento"
      [(ngModel)] = "cliente.fechaNacimiento"
      name = "fechaNacimiento"
      required
      pattern ="[0-9]{2}+[/]+[0-9]{2}+[/]+[0-9]{2}+[/]+[0-9]{2,4}"
      
      
      placeholder="Digite su Fecha de Nacimiento "
      #fechaNacimiento = "ngModel"
      >
      <div class="alert alert-danger" *ngIf="fechaNacimiento.errors">

        <div *ngIf ="fechaNacimiento.errors?.['required']">
          Digite su fecha de Nacimiento
        </div>
        
          <div *ngIf="fechaNacimiento.errors?.['pattern']">
          El Formato de la fecha es DD/MM/AAAA
        </div>
       
      </div>
    </div>

    
    <div class="form-group">
      <label>Dirección : </label>
      <input type = "text"
      class="form-control"
      id = "direccion"
      [(ngModel)] = "cliente.direccion"
      name = "direccion"
      required
      minlength="4"
      maxlength="10"
      placeholder="Digite su Direccion "
      #direccion = "ngModel"
      >
      <div class="alert alert-danger" *ngIf= "direccion.invalid && (direccion.dirty || direccion.touched)">
        <div *ngIf = "direccion.errors?.['required']">
          Digite su Direccion por favor
        </div>
        
          <div *ngIf = "direccion.errors?.['minlength']">
          El apellido tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf = "direccion.errors?.['minlength']">
          El apellido tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Email : </label>
      <input type = "email"
      class="form-control"
      id = "emal"
      [(ngModel)] = "cliente.emal"
      name = "emal"
      pattern ="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
      required
      placeholder="Digite su email "
      #emal = "ngModel"
      >
      <div class="alert alert-danger" *ngIf="emal.errors">
        <div *ngIf = "emal.errors?.['required']">
          Digite su email por favor
        </div>
        <div *ngIf = "emal.errors?.['pattern']">
          Por favor digite el email con el siguiente formato : user100@gmail.com
        </div>
      </div>
    </div>

    <div class="form-group">

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" >M : 
        <input type = "radio"
        class="form-control"
        id = "sexo"
        [(ngModel)] = "cliente.sexo"
        name = "sexo"
        value="M"
     
        #sexo = "ngModel"
        >
      </label>
        

        <label class="btn btn-secondary" >F : 
          <input type = "radio"
          class="form-control"
          id = "sexo"
          [(ngModel)] = "cliente.sexo"
          name = "sexo"
          value="F"
          required
         
          #sexo = "ngModel"
          >
        </label>
      
        
      </div>
      <div class="alert alert-danger" *ngIf = "cliente.sexo == null">
        Por favor seleccione el sexo
      </div>
    </div>

    


    <button class="btn btn-success" [disabled]= "!clienteForm.form.valid">Guardar</button>
























  <!--
<div class="form-group">
<label>Nombre: </label>
<input type="text" class="form-control" id="nombres" [(ngModel)]="cliente.nombres" name="nombres" >

<label>Apellido Paterno: </label>
<input type="text" class="form-control" id="aPaterno" [(ngModel)]="cliente.aPaterno" name="aPaterno">

<label>Apellido Materno: </label>
<input type="text" class="form-control" id="aMaterno" [(ngModel)]="cliente.aMaterno" name="aMaterno">

<label>Fecha de Nacimiento: </label>
<input type="text" class="form-control" id="fechaNacimiento" [(ngModel)]="cliente.fechaNacimiento" name="fechaNacimiento">

<label>Direccion de Domicilio: </label>
<input type="text" class="form-control" id="direccion" [(ngModel)]="cliente.direccion" name="direccion">

<label>Email: </label>
<input type="text" class="form-control" id="emal" [(ngModel)]="cliente.emal" name="emal">
<br>
<label>Sexo: </label>
<br>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
      <input type="radio" id="sexo" [(ngModel)]="cliente.sexo" name="sexo" value="M"> M
    </label>
    
    <label class="btn btn-secondary">
      <input type="radio" id="sexo" [(ngModel)]="cliente.sexo" name="sexo" value="F"> F
    </label>
  </div>

</div>

<button class="btn btn-success">Guardar</button>
-->
</form>

