<h3>Detalles del Cliente</h3>
<div>
  <div>
    <label><b>ID : </b> {{ cliente.id }}</label>
  </div>
  <div>
    <label><b>Nombre : </b> {{ cliente.nombres }}</label>
  </div>
  <div>
    <label><b>Apellido Paterno : </b> {{ cliente.aPaterno }}</label>
  </div>
  <div>
    <label><b>Apellido Materno : </b> {{ cliente.aMaterno }}</label>
  </div>
  <div>
    <label><b>Fecha de  Nacimiento : </b> {{ cliente.fechaNacimiento }}</label>
  </div>
  <div>
    <label><b>Dirección : </b> {{ cliente.direccion }}</label>
  </div>
  <div>
    <label><b>Email : </b> {{ cliente.emal }}</label>
  </div>
  <div>
    <label><b>Sexo : </b> {{ cliente.sexo }}</label>
  </div>
</div>


